/src/main/res/drawable/text_people_4.png
/src/main/res/drawable/text_people_2.png
/src/main/res/drawable/text_people_3.png
/src/main/res/drawable/text_people_5.png
/src/main/res/drawable/text_people_1.png
/src/main/res/drawable/text_people_6.png
/build
